.custom-navbar {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  padding: 0.8rem 1.5rem;
  z-index: 10;
}

.navbar-brand,
.nav-link {
  color: white !important;
  font-weight: 500;
  transition: 0.3s;
}

.nav-link:hover {
  color: #d0b6ff !important; 
}