.lessons-body{
    max-width: 50rem;
    width: 100%;
}

.progress-block{
    max-width: 30rem;
    width: 100%;
    background-color: #ffffff;

}

.overlay-image {
  object-fit: cover;
  opacity: 0.5;
  pointer-events: none;
  z-index: 1;
}

h2 {
  position: relative;
  z-index: 2;
}
