<div style="background-color: #ffffff; width: 100%; height: 100%">
  <div *ngIf="!course">
    ]
    <div
      class="d-flex justify-content-center align-items-center"
      style="font-size: 100px"
    >
      loading...
    </div>
  </div>
  <div
    class="d-flex justify-content-center align-items-center position-relative"
    [ngStyle]="{
      'background-color': getCourseTheme(course?.id).color,
      height: '300px',
      overflow: 'hidden'
    }"
  >
    <h2 class="mt-5 text-white py-4" style="position: relative; z-index: 2">
      {{ course?.name }}
    </h2>
    <img
      [src]="getCourseTheme(course?.id).imageUrl"
      class="position-absolute top-0 start-0 w-100 h-100 overlay-image"
    />
  </div>

  <div class="container d-flex flex-column align-items-center" dir="rtl">
    <hr style="width: 100%" />

    <div class="progress-block p-0 my-3 shadow-sm border-0 rounded">
      <div
        dir="ltr"
        class="progress"
        role="progressbar"
        aria-label="Success example"
        aria-valuenow="25"
        aria-valuemin="0"
        aria-valuemax="100"
        style="width: 100%"
      >
        <div
          class="progress-bar"
          style="background-color: rgb(102, 28, 206)"
          [ngStyle]="{
            'background-color': getCourseTheme(course?.id).color,
            width: '25%'
          }"
        ></div>
      </div>
    </div>

    <button
      type="button"
      class="btn d-inline-flex align-items-center"
      style="background-color: rgb(102, 28, 206); color: white"
      [ngStyle]="{
        'background-color': getCourseTheme(course?.id).color,
        color: 'white'
      }"
      (click)="openLessonForm()"
    >
      <span class="me-2">+</span> إضافة درس
    </button>

    <div *ngIf="isLessonFormOpen">
      <app-add-lesson-to-course
        [courseId]="course.id"
      ></app-add-lesson-to-course>
    </div>

    <div class="lessons-body">
      <app-lesson-block
        style="width: 100%"
        *ngFor="let lesson of course?.lessons"
        [lesson]="lesson"
        [theamColor]="getCourseTheme(course.id).color"
      ></app-lesson-block>
    </div>
  </div>
</div>
