<app-navbar></app-navbar>
<div class="video-hero-section">
    <video autoplay muted loop playsinline class="bg-video">
      <source src="assets/HomeVideo.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>

    <div class="video-overlay-content">
        <h1 class="fw-bold" style="font-size:70px;">Welcome to EduJoy</h1>
        <a routerLink="/course" class="btn text-white StartNowButton" style="background-color: #6043b0;">Start Now your journey</a>

    </div>
</div>
<div class="below-video-image-container d-flex justify-content-center align-items-center">
    <img class="LineDivider" src="assets/LineDivider.png" alt="Line Divider">
    <img class="HomePageImage" src="assets/HomePageImageOne.jpg" alt="Home page image">
    <img class="LineDivider" src="assets/LineDivider.png" alt="Line Divider">
    <img class="HomePageImage" src="assets/HomePageImageTwo.jpg" alt="Home page image">
</div>