<div class="container" id="question-form" style="color: blueviolet;">
  <div class="row" id="Question-1">
    <div class="col">
      <div class="box rounded-4" id="box-question">
        <div class="d-flex flex-row-reverse">
          <h2>{{ questionData[0].lesson }}</h2>
        </div>
        <hr class="question-separator"/>

        <div id="game" *ngFor="let q of questionsGrouped; let i = index" style="padding-bottom: 1.5em;" class="d-flex flex-column align-items-center">
          <h2 id="question-header">{{ q[0].question_body }}</h2>
          <div
              class="choice-container "
              *ngFor="let choice of choices; let j = index"
              (click)="onChoiceClick(q[0].question_body, questionData[i * 4 + j].answer_body)"
              [ngClass]="{
                selected: isAnswerSelected(q[0].question_body, questionData[i * 4 + j].answer_body)
              }"
            >
            <p class="choice-prefix">{{ choice }}</p>
            <p class="choice-text">{{ questionData[i * 4 + j].answer_body }}</p>
          </div>

          <hr *ngIf="i < questionsGrouped.length - 1" class="question-separator" />
        </div>
        <button id="submit-btn" (click)="onSubmitClick()">Submit</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="resultModal" tabindex="-1" aria-labelledby="resultModalLabel" aria-hidden="true" dir="rtl">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="إغلاق"></button>
      </div>
      <div class="modal-body">
        <p>{{ resultMessage }}</p>
      </div>
    </div>
  </div>
</div>
