
.lesson-item{
    background-color: #ffffff;
}

.lesson-collapse{
    width: 100%;
}

.video-link{
    text-decoration: none;
    list-style: none;
}

.addVideoForm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column    ;

  backdrop-filter: blur(6px); /* الغباش */
  background-color: rgba(0, 0, 0, 0.3); /* لون خلفي شفاف مع الغباش */
}

.speak-btn-gif {
  width: 38px;
  height: 38px;
  cursor: pointer;
  display: inline-block;  
  vertical-align: middle; 
  transition: transform 0.3s ease; 
}

.speak-btn-gif:hover {
  transform: scale(1.3); 
}
