
.lesson-item{
    background-color: #ffffff;
}

.lesson-collapse{
    width: 100%;
}

.video-link{
    text-decoration: none;
    list-style: none;
}

.addVideoForm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column    ;

  backdrop-filter: blur(6px); /* الغباش */
  background-color: rgba(0, 0, 0, 0.3); /* لون خلفي شفاف مع الغباش */
}
