<div dir="rtl" class="video-layout p-0 position-fixed top-0 start-0 w-100">
  <div *ngIf="!course">
    <app-loader></app-loader>
  </div>

  <!-- Sidebar -->
  <div class="sidebar d-none d-md-block">
    <app-sidebar
      [course]="course"
      [selectedVideoId]="videoId"
      [theamColor]="getCourseTheme(course.id).color"
    ></app-sidebar>
  </div>

  <div class="d-block d-md-none">
    <button
      class="btn btn-primary"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasExample"
      aria-controls="offcanvasExample"
    >
      <i class="bi bi-list"></i>
    </button>

    <div
      class="offcanvas offcanvas-start"
      tabindex="-1"
      id="offcanvasExample"
      aria-labelledby="offcanvasExampleLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel"></h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <app-sidebar
          [course]="course"
          [selectedVideoId]="videoId"
        ></app-sidebar>
      </div>
    </div>
  </div>

  <!-- Video -->
  <div class="main-video px-3">
    <div class="d-flex align-items-center gap-2">
      <i
        class="bi bi-play-btn"
        [ngStyle]="{ color: getCourseTheme(course.id).color }"
        style="font-size: 32px"
      ></i>
      <h2 style="font-size: 22px; margin: 0">{{ videoTitle }}</h2>
    </div>

    <hr class="p-0 my-2" style="border-top: 2px solid #dee2e6" />

    <div class="video-container">
      <iframe
        *ngIf="sanitizedVideoUrl"
        width="100%"
        height="500"
        [src]="sanitizedVideoUrl"
        frameborder="0"
        allowfullscreen
      >
      </iframe>
    </div>

    <div class="py-5">
      <h3 style="font-size: 18px">الوصف والمصادر</h3>
      <div class="card p-1" style="background-color: rgb(239, 239, 239)">
        <div style="font-size: 16px">لا يوجد وصف</div>
      </div>
    </div>
  </div>
</div>
