:root {
  --neutral-very-dark-purple: hsl(260, 25%, 40%);
  --neutral-very-light-purple: hsl(260, 40%, 95%);
  --neutral-white: #fff;
  --neutral-dark-purple: hsl(260, 30%, 60%);
  --neutral-light-purple-1: hsl(260, 50%, 90%);
  --neutral-light-purple-2: #d3c8ea;
  --primary-purple: hsl(260, 70%, 45%);
  --primary-red: hsl(340, 80%, 65%); 
}
