  .custom-btn {
    background-color: #500b85;
    color: white;
    transition: all 0.3s ease;
    transform: scale(1);
  }

  .custom-btn:hover {
    background-color: #6c10b7;
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  .custom-btn:active {
    transform: scale(0.97);
  }
  
  .speak-btn-gif {
  width: 35px;         /* حجم GIF */
  height: 35px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* يظهر عند hover على الكارد */
.card:hover .speak-btn-gif {
  opacity: 1;
  transform: scale(1.1); /* تكبير بسيط عند ظهور */
}

/* تأثير عند hover على GIF نفسه */
.speak-btn-gif:hover {
  transform: scale(1.3);
}