<app-navbar></app-navbar>
<div class="container d-grid">
    <div class="row justify-content-center">
    <div class="col-md-3 mx-2">
        <div class="card" style="margin-top: 100px;">
            <div class="card-header">
                <img src="assets/HomePageImageOne.jpg" alt="Course Image" style="width: 100%;">
            </div>
            <div class="card-subtitle">
                Course 1: Arabic
            </div>
            <div class="card-body">koeaopthjaeropjtopjewopgjreoapjopoptjhoprewkf[ko</div>
        </div>
    </div>

    <div class="col-md-3 mx-2">
        <div class="card" style="margin-top: 100px;">
            <div class="card-header">
                <img src="assets/HomePageImageOne.jpg" alt="Course Image" style="width: 100%;">
            </div>
             <div class="card-subtitle">
                Course 1: English
            </div>
            <div class="card-body">kofwegrtrsthtegrahtjsrgw4yaetdrgegirejhopgjrdjoko</div>
        </div>
    </div>

    <div class="col-md-3 mx-2">
        <div class="card" style="margin-top: 100px;">
            <div class="card-header">
                <img src="assets/HomePageImageOne.jpg" alt="Course Image" style="width: 100%;">
            </div>
             <div class="card-subtitle">
                Course 1: math
            </div>
            <div class="card-body">kokogropsrgpowrejgrwiwjijkfopjs</div>
        </div>
    </div>
</div>
</div>